@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #eee;
  --fg: #ddd;
  --bg-active: hsla(160, 80%, 50%, 1);
  --bg-nav: #fff;

  --text: #000;
  --text-active: hsl(160, 42%, 40%);

  --btn-clr: #e2e2e2;
  --btn-hover: #fafafa;
  --btn-border: #a2a2a2;
  --btn-active: #f2f2f2;

    --success: lightgreen;
    --danger: red;
    --info: cornflowerblue;

    --link: var(--text-active);

  --accent-1: 300, 100%, 25%;
  --accent-2: 170, 100%, 25%;
  --shadow-accent: 0 0 12px 4px;
  
  --shadow-md: 0 0 8px 4px #00000010;
  --shadow-lg: 0 0 12px 8px #00000010;
}

a,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: var(--text);
}

body {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  background: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

main {
    background: var(--fg);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}

button, input[type="submit"], input[type="file"] {
    cursor: pointer;
}

.btn {
  padding: .4rem .7rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid var(--btn-border);
  cursor: pointer;
  background: var(--btn-clr);
}

.btn:hover {
  background: var(--btn-hover);
}

.btn:active, .btn:focus {
  background: var(--btn-active);
  border-color: var(--text-active);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
    display: none;
}

textarea {
    white-space: pre-wrap;
}

input, textarea {
  font-family: "Poppins", sans-serif;
}

.delete-account-btn {
    background: var(--danger);
}