<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{./styles.css}">
    <script th:src="@{./js/wall.js}" defer></script>
</head>
<body>
    <nav th:replace="~{components/navbar :: navbar(activePage=${activePage})}"></nav>
    <main>
        <h1>My Posts</h1>
        <form th:replace="~{components/forms :: new-post-form}"></form>
        <section class="my-posts">
            <div th:unless="${posts.empty}" th:each="post : ${posts}">
                <div th:insert="~{components/post :: post-card-auth(post=${post})}"></div>
            </div>

            <div th:if="${posts.empty}" class="no-posts-container">
                <p>No posts to display...</p>
            </div>
        </section>
    </main>
</body>
</html>